.menu {
  position: fixed;
  min-height: 100vh;
  width: 205px;
  height: 100%;
  background: #ce464a;
  right: 0px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  animation: menu_anim 0.7s;
  transition: all ease .5s;
  z-index: 9999;
  top: 0px;
}
.menu svg {
  z-index: 99;
  margin-right: 20px;
  margin-top: 16px;
  margin-bottom: 32px;
}
.menu > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  text-align: center;
}
ul li {
  color: #fff;
  height: 48px;
}
@keyframes menu_anim {
    from {
        right: -300px;
    }
    to {
        right: 0px;
    }
}