.header {
  width: 100%;
  height: 510px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/privacy.png);
  display: flex;
  justify-content: center;
}
.text {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.texts {
  margin-top: 108px;
  width: 523px;
}
.texts p {
  margin-top: 16px;
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
  text-transform: capitalize;
}
.data {
  width: 100%;
  max-width: 1218px;
  display: flex;
  gap: 205px;
}
.data img {
  width: 300px;
  height: 300px;
  margin-top: 65px;
}
.privacy {
  margin-top: 32px;
  text-align: center;
  color: #141414;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
}
.info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin-bottom: 80px;
}
.pr {
  width: 100%;
  max-width: 1218px;
}
.box {
  display: flex;
  flex-direction: column;
}
.box_header {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.5px; /* 175% */
  letter-spacing: 0.36px;
}
ul {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
li {
  color: #2d2d2d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media screen and (max-width: 900px) {
  .info {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
  .data {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .data img {
    width: 120px;
    height: 120px;
    margin: 0;
  }
  .header {
    height: 424px;
    background-image: url(../../images/prv.png);
  }

  .data p {
    margin: 0;
    font-size: 36px;
    text-align: center;
  }
  .head {
    font-size: 14px;
    text-align: center;
    margin-left: 36px;
    margin-right: 36px;
  }
  .texts {
    margin-top: 0;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 32px;
  }
  .texts p {
    max-width: 260.6px;
    line-height: normal;
  }
  .text {
    max-width: 313.8px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .pick {
    font-size: 24px;
    margin-bottom: 48px;
  }
  .page {
    margin-top: 32px;
  }
}
